.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-img{
    position: relative;
    width: 50%;
    z-index: 10;
    order: 1;
}
.img-card{
    position: absolute;
    z-index: 20;
    width: 300px;
    bottom: 16px;
    right: 22%;
}

.about-content{
    order: 2;
    width: 40%;
    text-align: justify;
}

@media only screen and (max-width:768px){
    .aboutus{
        flex-direction: column;
        gap: 50px;
    }
    .about-img{
        width: 70%;
        /* order: 2; */
        margin: auto;
    }
    .img-card{
        right: -30%;
        width: 200px;
    }
    .about-content{
        width: 90%;
        order: 1;
    }
}