.icon-link {
  width: 36px;
  height: 36px;
  border: 1px solid #181a1e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.icon-link:hover {
  background-color: #0067ff;
  border: none;
  color: white;
}
.text-link {
  line-height: 28px;
  color: #4e545f;
  transition: all 0.25s ease-in-out;
}
.text-link:hover {
  transform: translateX(10px);
  text-decoration: underline;
  color: gray;
}
