.hero-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
  /* height: 800px; */
  background: url("../../assets//images//hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-page {
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-size: 50px;
  color: #181a1e;
  font-weight: 800;
  margin-bottom: 20px;
}
.hero-left {
  width: 50%;
}

.counters {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.counter-heading {
  font-size: 44px;
  font-weight: 700;
  color: #181a1e;
}
.counter-underline {
  width: 100px;
  height: 6px;
  border-radius: 10px;
  margin-top: -20px;
}
.hero-right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-img {
  width: 100%;
}

.works-section-top, .services-top ,.testimonial-top{
  width: 470px;
  margin: auto;
}

.work-section-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.arrow{
  border:1px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  transition: all 0.5s, transform 0.5s;
}
.arrow:hover{
  border: none;
  background-color: #0067FF;
  color: white;
  transform: scale(1.1);
}

/* feature section  */
.features{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.feature-img{
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  position: relative;
  width: 50%;
}

.feature-img-card{
  width: 248px;
  background-color: white;
  position: absolute;
  bottom: 100px;
  border-radius: 10px;
  padding: 8px;
  padding-bottom: 26px;
  z-index: 20;
  left: 20px;
}

.video{
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEB60D;
  padding: 12px 9px;
  
}

.consult{
  width: 96px;
  background-color: #CCF0F3;
  color: #01B5C5;
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 16px;
  border-radius: 5px;
}



/* faqs section  */
.faqs{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* width: 80%; */
  margin: auto;
}

@media only screen and (max-width: 990px) {
  .hero-page {
    flex-direction: column;
  }
  .hero-heading {
    font-size: 36px;
  }
  .counters {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .counter-heading {
    font-size: 36px;
  }
  .hero-left,
  .hero-right {
    width: 100%;
  }
  .works-section-top,.services-top,.testimonial-top {
    width: 100%;
  }
  .work-section-bottom {
    flex-direction: column;
    margin-top: 30px;
  }

  .features{
    flex-direction: column;
  }
  .feature-img{
    margin-top: 50px;
    width: 70%;
  }
  .feature-img-card{
    padding: 8px;
    padding-bottom: 12px;
    left: -20%;
    bottom:50px;
    width: 150px;
  }

  .video{
    padding: 4px 6px;
    width: 20px;
    height: 20px;
  }
  .consult{
    padding: 4px 8px;
    font-size: 8px;
    margin-top: 8px;
    width: 65px;
    line-height: 8px;
  }
}
