.service-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.service-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.service-link{
  border:1px solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s, transform 0.5s;
}
.service-link:hover{
  border: none;
  background-color: #0067FF;
  color: white;
  transform: scale(1.1);
}

@media only screen and (max-width:990px) {
    .service-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:768px) {
    .service-list{
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
}